{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Quản lý khách hàng</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Sửa khách hàng</h6>
    </div>
    <div class="card-body">
      <form method="POST" action="/client_edit/{{ client._id }}" enctype="multipart/form-data"
        oninput='inputPassword2.setCustomValidity(inputPassword2.value != inputPassword.value ? "Mật khẩu nhập lại không đúng." : "")'>
        <link rel="stylesheet" href="/static/css/custom.css">
        <div class="form-group row">
          <div class="avatar-wrapper">
            <img class="profile-pic" src="{{ client.avatar }}" />
            <div class="upload-button">
              <i class="fa fa-arrow-circle-up" title="Chọn ảnh" aria-hidden="true"></i>
            </div>
            <input class="file-upload" name="face_image" type="file" accept="image/*" />
          </div>
        </div>
        <div class="form-group row">
          <label for="inputName" class="col-sm-2 col-form-label">Họ tên (<font color="red">*</font>bắt
            buộc)</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="inputName" id="inputName" placeholder="Nhập họ tên ..."
              value="{{ client.name }}" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputEmail" class="col-sm-2 col-form-label">Email(<font color="red">* </font>)</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" name="inputEmail" value="{{ client.email }}" id="inputEmail"
              required>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Password(<font color="red">*</font>
            )</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" name="inputPassword" id="inputPassword"
              value="{{ client.password }}" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputPassword2" class="col-sm-2 col-form-label">Nhập lại password(<font color="red">*
            </font>)</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" name="inputPassword2" id="inputPassword2"
              value="{{ client.password }}" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputCompany" class="col-sm-2 col-form-label">Công ty(<font color="red">* </font>)</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="inputCompany" id="inputCompany" value="{{ client.company }}"
              required>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputPhoneNumber" class="col-sm-2 col-form-label">Số điện thoại(<font color="red">*</font>
            )</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="inputPhoneNumber" id="inputPhoneNumber"
              value="{{ client.phone }}" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputPlan" class="col-sm-2 col-form-label">Kế hoạch(<font color="red">*</font>
            )</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="inputPlan" id="inputPlan" value="{{ client.plan }}" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputActiveStatus" class="col-sm-2 col-form-label">Trạng thái hoạt động(<font color="red">*</font>
            )</label>
          <div class="col-sm-10">
            <!-- <input type="text" class="form-control" name="inputActiveStatus" id="inputActiveStatus"
              value="{{ client.active }}" placeholder="1: Kích hoạt, 0: Không kích hoạt" required> -->
            {% if client.active == 1 %}
            <label class="switch">
              <input type="checkbox" name="inputActiveStatus" checked>
              <span class="slider round"></span>
            </label>
            {% else %}
            <label class="switch">
              <input type="checkbox" name="inputActiveStatus">
              <span class="slider round"></span>
            </label>
            {% endif %}
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Lưu</button>
            <a href="/manage_clients" class="btn btn-secondary btn-icon-split">
              <span class="icon text-white-50">
                <i class="fas fa-arrow-left"></i>
              </span>
              <span class="text">Quay lại</span>
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
{% endblock %}