{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Quản lý khách hàng</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Thêm khách hàng</h6>
    </div>
    <div class="card-body">
      <form method="POST" action="/client_add"
        oninput='inputPassword2.setCustomValidity(inputPassword2.value != inputPassword.value ? "Mật khẩu nhập lại không đúng." : "")'>
        <style>
          .avatar-wrapper {
            position: relative;
            height: 200px;
            width: 200px;
            margin: 50px auto;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: 1px 1px 15px -5px black;
            transition: all 0.3s ease;
          }

          .avatar-wrapper:hover {
            transform: scale(1.05);
            cursor: pointer;
          }

          .avatar-wrapper:hover .profile-pic {
            opacity: 0.5;
          }

          .avatar-wrapper .profile-pic {
            height: 100%;
            width: 100%;
            transition: all 0.3s ease;
          }

          .avatar-wrapper .profile-pic:after {
            font-family: FontAwesome;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            font-size: 190px;
            background: #ecf0f1;
            color: #34495e;
            text-align: center;
          }

          .avatar-wrapper .upload-button {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
          }

          .avatar-wrapper .upload-button .fa-arrow-circle-up {
            position: absolute;
            font-size: 234px;
            top: -17px;
            left: -17px;
            text-align: center;
            opacity: 0;
            transition: all 0.3s ease;
            color: #34495e;
          }

          .avatar-wrapper .upload-button:hover .fa-arrow-circle-up {
            opacity: 0.9;
          }
        </style>
        <div class="form-group row">
          <div class="avatar-wrapper">
            <img class="profile-pic" src="/static/img/undraw_profile.svg" />
            <div class="upload-button">
              <i class="fa fa-arrow-circle-up" title="Chọn ảnh" aria-hidden="true"></i>
            </div>
            <input class="file-upload" type="file" accept="image/*" />
          </div>
        </div>
        <div class="form-group row">
          <label for="inputName" class="col-sm-2 col-form-label">Họ tên (<font color="red">*</font>bắt
            buộc)</label>
          <div class="col-sm-10">
            <input type="text" name="inputName" class="form-control" id="inputName" placeholder="Nhập họ tên ..."
              required>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputEmail" class="col-sm-2 col-form-label">Email(<font color="red">* </font>)</label>
          <div class="col-sm-10">
            <input type="email" name="inputEmail" class="form-control" id="inputEmail" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Password(<font color="red">*</font>
            )</label>
          <div class="col-sm-10">
            <input type="password" name="inputPassword" class="form-control" name="inputPassword" id="inputPassword"
              required>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputPassword2" class="col-sm-2 col-form-label">Nhập lại password(<font color="red">*
            </font>)</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" name="inputPassword2" id="inputPassword2" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputCompany" class="col-sm-2 col-form-label">Công ty(<font color="red">* </font>)</label>
          <div class="col-sm-10">
            <input type="text" name="inputCompany" class="form-control" id="inputCompany" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputPhoneNumber" class="col-sm-2 col-form-label">Số điện thoại(<font color="red">*</font>
            )</label>
          <div class="col-sm-10">
            <input type="text" name="inputPhoneNumber" class="form-control" id="inputPhoneNumber" required>
          </div>
        </div>

        <!-- <div id="AlertBox" class="form-group row" style="display: none;">
          <div class="alert alert-success">
            Số điện thoại không hợp lệ
          </div>
        </div> -->
        
        <div class="form-group row">
          <label for="inputPlan" class="col-sm-2 col-form-label">Kế hoạch(<font color="red">*</font>
            )</label>
          <div class="col-sm-10">
            <input type="text" name="inputPlan" class="form-control" id="inputPlan" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputActiveStatus" class="col-sm-2 col-form-label">Trạng thái hoạt động(<font color="red">*</font>
            )</label>
          <div class="col-sm-10">
            <label class="switch">
              <input type="checkbox" name="inputActiveStatus" checked>
              <span class="slider round"></span>
            </label>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" id="addBtn" class="btn btn-primary">Thêm</button>
            <a href="manage_clients" class="btn btn-secondary btn-icon-split">
              <span class="icon text-white-50">
                <i class="fas fa-arrow-left"></i>
              </span>
              <span class="text">Quay lại</span>
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>

<!-- Validate Phone -->
<!-- <script src="/static/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript">

  $(document).ready(function () {
    function formValidate() {
      var regExp = /^(0[1-9][0-9]{8}|84[1-9][0-9]{8}|1[89]00[0-9]{4})$/;
      var inputPhoneNumber = document.getElementById("inputPhoneNumber").value;
      if (regExp.test(inputPhoneNumber))
        return true;
      else
        return false;
    };
    var addBtn = document.getElementById('addBtn');

    addBtn.addEventListener('click', function (e) {
      console.log("1111111111");
      console.log(formValidate());
      if (formValidate() == false) {
        // document.getElementById("fff").innerHTML = "Số điện thoại không hợp lệ";
        $('#AlertBox').show();
        $('#AlertBox').delay(1000).slideUp(500);
        // $('#AlertBox').addClass('d-none');
        e.preventDefault();
      }
    }, true);

  });
</script> -->

{% endblock %}

<!-- <script type="text/javascript">
  // $(document).ready(function () {

  // })
  function formValidate() {
    var regExp = /^(0[1-9][0-9]{8}|84[1-9][0-9]{8}|1[89]00[0-9]{4})$/;
    var inputPhoneNumber = document.getElementById("inputPhoneNumber").value;
    if (regExp.test(inputPhoneNumber))
      return true;
    else
      return false;
  }
  var addBtn = document.getElementById('addBtn');
  function check() {
    addBtn.addEventListener('click', function (e) {
      if (formValidate() == false) {
        // document.getElementById("fff").innerHTML = "Số điện thoại không hợp lệ";
        $('#AlertBox').removeClass('d-none');
        $('#AlertBox').delay(1000).slideUp(500);
        e.preventDefault();
      }
    }, false);
  }
  check();
</script> -->