{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">

	<!-- Page Heading -->
	<h1 class="h3 mb-2 text-gray-800">Quản lý Speech To Text File</h1>

	<!-- DataTales Example -->
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Danh sách Speech To Text File</h6>
			<div class="my-2"></div>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>ID người dùng</th>
							<th>ID voice</th>
							<th>ID task</th>
							<th>ID call</th>
							<th>Tin nhắn</th>
							<th>Trạng thái</th>
							<th>Thời gian xử lý (giây)</th>
							<th>Audio path</th>
							<th>Audio path local</th>
							<th>Nội dung</th>
							<th>Ngày tạo</th>
							<th>Mẫu KQ</th>
							<th>Thao tác</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>ID người dùng</th>
							<th>ID voice</th>
							<th>ID task</th>
							<th>ID call</th>
							<th>Tin nhắn</th>
							<th>Trạng thái</th>
							<th>Thời gian xử lý (giây)</th>
							<th>Audio path</th>
							<th>Audio path local</th>
							<th>Nội dung</th>
							<th>Ngày tạo</th>
							<th>Mẫu KQ</th>
							<th>Thao tác</th>
						</tr>
					</tfoot>
					<tbody>
						{%for sttfile in sttfiles%}
						<tr>
							<td><a href="">{{ sttfile.id_user}}</a></td>
							<td><a href="">{{ sttfile.id_voice}}</a></td>
							<td><a href="">{{ sttfile.id_task}}</a></td>
							<td><a href="">{{ sttfile.id_call}}</a></td>
							<td>{{ sttfile.msg}}</td>
							<td>
							{%if sttfile.status == 1 %}
								Đã xử lý
							{%elif sttfile.status == 2 %}
								Đang xử lý
							{%else%}
								Không thành công
							{%endif%}
							</td>
							<td>{{ sttfile.processing_time}}</td>
							<td>{{ sttfile.audio_path}}</td>
							<td>{{ sttfile.audio_path_local}}</td>
							<td>{{ sttfile.content}}</td>
							<td>{{ sttfile.update_at}}</td>
							<td>{{ sttfile.result_pattern}}</td>
							<td>
								<a href="">Sửa</a> |
								<a href="">Xoá</a>
							</td>
						</tr>
						{%endfor%}
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>
{% endblock %}