{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Quản lý khách hàng</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Danh sách khách hàng</h6>
      <div class="my-2"></div>
      <a href="client_add" class="btn btn-success btn-icon-split">
        <span class="icon text-white-50">
          <i class="fa fa-plus"></i>
        </span>
        <span class="text">Thêm mới</span>
      </a>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>ID</th>
              <th>Tên</th>
              <th>Ảnh đại diện</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Công ty</th>
              <th>Kế hoạch</th>
              <th>Trạng thái kích hoạt</th>
              <th>Tạo lúc</th>
              <th>Thao tác</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>ID</th>
              <th>Tên</th>
              <th>Ảnh đại diện</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Công ty</th>
              <th>Kế hoạch</th>
              <th>Trạng thái kích hoạt</th>
              <th>Tạo lúc</th>
              <th>Thao tác</th>
            </tr>
          </tfoot>
          <tbody>
            {% for client in clients %}
            <tr>
              <td><a href="">{{ client.id }}</a></td>
              <td><a href="">{{ client.name }}</a></td>
              <td><img src="{{ client.avatar }}" width="60px"></td>
              <td>{{ client.email }}</td>
              <td>{{ client.phone }}</td>
              <td>{{ client.company }}</td>
              <td>{{ client.plan }}</td>
              <td>
                {% if client.active == 1 %}
                <center>
                  <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>
                  </label>
                </center>
                {% else %}
                <center>
                  <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                  </label>
                </center>
                {% endif %}

              </td>
              <td>{{ client.timestamp }}</td>
              <td>
                <a href="client_edit">Sửa</a> |
                <a href="client_delete">Xoá</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
{% endblock %}