{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">

	<!-- Page Heading -->
	<h1 class="h3 mb-2 text-gray-800">Quản lý gói cước</h1>

	<!-- DataTales Example -->
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Danh sách gói cước</h6>
			<div class="my-2"></div>
			<a href="service_add" class="btn btn-success btn-icon-split">
				<span class="icon text-white-50">
					<i class="fa fa-plus"></i>
				</span>
				<span class="text">Thêm mới</span>
			</a>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>ID</th>
							<th>Tên</th>
							<th>Mô tả</th>
							<th>Số file tối đa</th>
							<th>Thời gian tối đa mỗi file (s)</th>
							<th>Ngày tạo</th>
							<th>Thao tác</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>ID người dùng</th>
							<th>Tên</th>
							<th>Mô tả</th>
							<th>Số file tối đa</th>
							<th>Thời gian tối đa mỗi file (s)</th>
							<th>Ngày tạo</th>
							<th>Thao tác</th>
						</tr>
					</tfoot>
					<tbody>
						{%for service in services %}
						<tr>
							<td><a href="">{{ service._id|shorten_id }}</a></td>
							<td><a href="">{{service.name}}</a></td>
							<td>{{service.description}}</td>
							<td>{{service.max_files}}</td>
							<td>{{service.max_time_per_file}}</td>
							<td>{{service.update_at}}</td>
							<td>
								<a href="service_edit/{{ service._id }}">Sửa</a> |
								<a href="service_delete/{{ service._id }}">Xoá</a>
							</td>
						</tr>
						{%endfor%}
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>
{% endblock %}