{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">

	<!-- Page Heading -->
	<h1 class="h3 mb-2 text-gray-800">Quản lý gói cước</h1>

	<!-- DataTales Example -->
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Danh sách gói cước</h6>
			<div class="my-2"></div>
			<a href="service_add" class="btn btn-success btn-icon-split">
				<span class="icon text-white-50">
					<i class="fa fa-plus"></i>
				</span>
				<span class="text">Thêm mới</span>
			</a>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>ID</th>
							<th>Tên</th>
							<th>Mô tả</th>
							<th>Số file tối đa</th>
							<th>Thời gian tối đa mỗi file (s)</th>
							<th>Ngày tạo</th>
							<th>Thao tác</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>ID người dùng</th>
							<th>Tên</th>
							<th>Mô tả</th>
							<th>Số file tối đa</th>
							<th>Thời gian tối đa mỗi file (s)</th>
							<th>Ngày tạo</th>
							<th>Thao tác</th>
						</tr>
					</tfoot>
					<tbody>
						<tr>
							<td><a href="">20130201</a></td>
							<td><a href="">Trial</a></td>
							<td>Edinburgh</td>
							<td>10</td>
							<td>120</td>
							<td>2021/01/01</td>
							<td>
								<a href="">Sửa</a> |
								<a href="">Xoá</a>
							</td>
						</tr>
						<tr>
							<td><a href="">20111206</a></td>
							<td><a href="#">VIP1</a></td>
							<td>New York</td>
							<td>20</td>
							<td>120</td>
							<td>2021/01/02</td>
							<td>
								<a href="">Sửa</a> |
								<a href="">Xoá</a>
							</td>
						</tr>
						<tr>
							<td><a href="">20110321</a></td>
							<td><a href="">VIP2</a></td>
							<td>London</td>
							<td>30</td>
							<td>120</td>
							<td>2021/01/03</td>
							<td>
								<a href="">Sửa</a> |
								<a href="">Xoá</a>
							</td>
						</tr>
						<tr>
							<td><a href="">20090227</a></td>
							<td><a href="">VIP3</a></td>
							<td>London</td>
							<td>9999</td>
							<td>999999</td>
							<td>2021/01/04</td>
							<td>
								<a href="">Sửa</a> |
								<a href="">Xoá</a>
							</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>
{% endblock %}