{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">

	<!-- Page Heading -->
	<h1 class="h3 mb-2 text-gray-800">Quản lý Tags</h1>

	<!-- DataTales Example -->
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Danh sách Tags</h6>
			<div class="my-2"></div>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>ID người dùng</th>
							<th>Tên</th>
							<th>Mô tả</th>
							<th>Ngày tạo</th>
							<th>Thao tác</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>ID người dùng</th>
							<th>Tên</th>
							<th>Mô tả</th>
							<th>Ngày tạo</th>
							<th>Thao tác</th>
						</tr>
					</tfoot>
					<tbody>
						<tr>
							<td><a href="">20130201</a></td>
							<td><a href="">Jennifer Acosta</a></td>
							<td>Edinburgh</td>
							<td>2021/01/01</td>
							<td>
								<a href="voice_id_edit">Sửa</a> |
								<a href="voice_id_delete">Xoá</a>
							</td>
						</tr>
						<tr>
							<td><a href="">20111206</a></td>
							<td><a href="#">Cara Stevens</a></td>
							<td>New York</td>
							<td>2021/01/02</td>
							<td>
								<a href="voice_id_edit">Sửa</a> |
								<a href="voice_id_delete">Xoá</a>
							</td>
						</tr>
						<tr>
							<td><a href="">20110321</a></td>
							<td><a href="">Hermione Butler</a></td>
							<td>London</td>
							<td>2021/01/03</td>
							<td>
								<a href="voice_id_edit">Sửa</a> |
								<a href="voice_id_delete">Xoá</a>
							</td>
						</tr>
						<tr>
							<td><a href="">20090227</a></td>
							<td><a href="">Lael Greer</a></td>
							<td>London</td>
							<td>2021/01/04</td>
							<td>
								<a href="voice_id_edit">Sửa</a> |
								<a href="voice_id_delete">Xoá</a>
							</td>
						</tr>
						<tr>
							<td><a href="">20100714</a></td>
							<td><a href="">Jonas Alexander</a></td>
							<td>San Francisco</td>
							<td>2021/01/05</td>
							<td>
								<a href="voice_id_edit">Sửa</a> |
								<a href="voice_id_delete">Xoá</a>
							</td>
						</tr>
						<tr>
							<td><a href="">20081113</a></td>
							<td><a href="">Shad Decker</a></td>
							<td>Edinburgh</td>
							<td>2021/01/06</td>
							<td>
								<a href="voice_id_edit">Sửa</a> |
								<a href="voice_id_delete">Xoá</a>
							</td>
						</tr>
						<tr>
							<td><a href="">20110627</a></td>
							<td><a href="">Michael Bruce</a></td>
							<td>Singapore</td>
							<td>2021/01/07</td>
							<td>
								<a href="voice_id_edit">Sửa</a> |
								<a href="voice_id_delete">Xoá</a>
							</td>
						</tr>
						<tr>
							<td><a href="">20110125</a></td>
							<td><a href="">Donna Snider</a></td>
							<td>New York</td>
							<td>2021/01/08</td>
							<td>
								<a href="voice_id_edit">Sửa</a> |
								<a href="voice_id_delete">Xoá</a>
							</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>
{% endblock %}