{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">

	<!-- Page Heading -->
	<h1 class="h3 mb-2 text-gray-800">Quản lý Speech To Text File</h1>

	<!-- DataTales Example -->
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Danh sách Speech To Text File</h6>
			<div class="my-2"></div>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>ID người dùng</th>
							<th>ID voice</th>
							<th>Tin nhắn</th>
							<th>Trạng thái</th>
							<th>Thời gian xử lý (giây)</th>
							<th>Audio path</th>
							<th>Nội dung</th>
							<th>Ngày tạo</th>
							<th>Mẫu KQ</th>
							<th>Thao tác</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>ID người dùng</th>
							<th>ID voice</th>
							<th>Tin nhắn</th>
							<th>Trạng thái</th>
							<th>Thời gian xử lý</th>
							<th>Audio path</th>
							<th>Nội dung</th>
							<th>Ngày tạo</th>
							<th>Mẫu KQ</th>
							<th>Thao tác</th>
						</tr>
					</tfoot>
					<tbody>
						<tr>
							<td><a href="">20130201</a></td>
							<td><a href="">20130201</a></td>
							<td><a href="">Jennifer Acosta</a></td>
							<td>Đã xử lý</td>
							<td>43</td>
							<td>Edinburgh</td>
							<td>Nextify</td>
							<td>2021/01/01</td>
							<td>OK</td>
							<td>
								<a href="">Sửa</a> |
								<a href="">Xoá</a>
							</td>
						</tr>
						<tr>
							<td><a href="">20111206</a></td>
							<td><a href="">20111206</a></td>
							<td><a href="#">Cara Stevens</a></td>
							<td>Đã xử lý</td>
							<td>46</td>
							<td>New York</td>
							<td>Nextify</td>
							<td>2021/01/02</td>
							<td>OK</td>
							<td>
								<a href="">Sửa</a> |
								<a href="">Xoá</a>
							</td>
						</tr>
						<tr>
							<td><a href="">20110321</a></td>
							<td><a href="">20110321</a></td>
							<td><a href="">Hermione Butler</a></td>
							<td>Đã xử lý</td>
							<td>47</td>
							<td>London</td>
							<td>Nextify</td>
							<td>2021/01/03</td>
							<td>OK</td>
							<td>
								<a href="">Sửa</a> |
								<a href="">Xoá</a>
							</td>
						</tr>
						<tr>
							<td><a href="">20090227</a></td>
							<td><a href="">20090227</a></td>
							<td><a href="">Lael Greer</a></td>
							<td>Đã xử lý</td>
							<td>21</td>
							<td>London</td>
							<td>Nextify</td>
							<td>2021/01/04</td>
							<td>OK</td>
							<td>
								<a href="">Sửa</a> |
								<a href="">Xoá</a>
							</td>
						</tr>
						<tr>
							<td><a href="">20100714</a></td>
							<td><a href="">20100714</a></td>
							<td><a href="">Jonas Alexander</a></td>
							<td>Đã xử lý</td>
							<td>30</td>
							<td>San Francisco</td>
							<td>Nextify</td>
							<td>2021/01/05</td>
							<td>OK</td>
							<td>
								<a href="">Sửa</a> |
								<a href="">Xoá</a>
							</td>
						</tr>
						<tr>
							<td><a href="">20081113</a></td>
							<td><a href="">20081113</a></td>
							<td><a href="">Shad Decker</a></td>
							<td>Đang xử lý</td>
							<td>51</td>
							<td>Edinburgh</td>
							<td>Nextify</td>
							<td>2021/01/06</td>
							<td>OK</td>
							<td>
								<a href="">Sửa</a> |
								<a href="">Xoá</a>
							</td>
						</tr>
						<tr>
							<td><a href="">20110627</a></td>
							<td><a href="">20110627</a></td>
							<td><a href="">Michael Bruce</a></td>
							<td>Đang xử lý</td>
							<td>29</td>
							<td>Singapore</td>
							<td>Nextify</td>
							<td>2021/01/07</td>
							<td>OK</td>
							<td>
								<a href="">Sửa</a> |
								<a href="">Xoá</a>
							</td>
						</tr>
						<tr>
							<td><a href="">20110125</a></td>
							<td><a href="">20110125</a></td>
							<td><a href="">Donna Snider</a></td>
							<td>Đang xử lý</td>
							<td>27</td>
							<td>New York</td>
							<td>Nextify</td>
							<td>2021/01/08</td>
							<td>OK</td>
							<td>
								<a href="">Sửa</a> |
								<a href="">Xoá</a>
							</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>
{% endblock %}