{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Quản lý gói cước</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Sửa gói cước</h6>
    </div>
    <div class="card-body">
      <form method="POST" action="/service_edit_{{ service._id }}"
        oninput='inputPassword2.setCustomValidity(inputPassword2.value != inputPassword.value ? "Mật khẩu nhập lại không đúng." : "")'>

        <div class="form-group row">
          <label for="inputName" class="col-sm-2 col-form-label">Tên gói cước (<font color="red">*</font>bắt
            buộc)</label>
          <div class="col-sm-10">
            <input type="text" name="inputName" class="form-control" id="inputName" placeholder="Nhập tên gói cước ..."
              value="{{ service.name }}" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputDescription" class="col-sm-2 col-form-label">Mô tả (<font color="red">* </font>)</label>
          <div class="col-sm-10">
            <input type="text" name="inputDescription" class="form-control" id="inputDescription"
              value="{{ service.description }}">
          </div>
        </div>

        <div class="form-group row">
          <label for="inputMaxFiles" class="col-sm-2 col-form-label">Số file tối đa (<font color="red">*</font>
            )</label>
          <div class="col-sm-10">
            <input type="text" name="inputMaxFiles" class="form-control" id="inputMaxFiles" value="{{ service.max_files }}" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputMaxTimePerFile" class="col-sm-2 col-form-label">Thời gian tối đa mỗi file (<font color="red">
              *</font>
            )</label>
          <div class="col-sm-10">
            <input type="text" name="inputMaxTimePerFile" class="form-control" id="inputMaxTimePerFile" value="{{ service.max_time_per_file }}" required>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" id="addBtn" class="btn btn-primary">Thêm</button>
            <a href="manage_services" class="btn btn-secondary btn-icon-split">
              <span class="icon text-white-50">
                <i class="fas fa-arrow-left"></i>
              </span>
              <span class="text">Quay lại</span>
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>

{% endblock %}

{% block script %}
<script>
  bootstrapValidate(['#inputMaxFiles', '#inputMaxTimePerFile'], 'numeric:Chỉ nhập số');
</script>
{% endblock %}