{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Quản lý Voice ID</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Xoá Voice ID</h6>
    </div>
    <div class="card-body">
      <dl class="dl-horizontal">
        <center><img src="{{ voiceid.avatar }}" width="100px"></center>
        <dt>
          Tên:
        </dt>
        <dd>
          {{ voiceid.name }}
        </dd>

        <dt>
          Email:
        </dt>

        <dd>
          {{ voiceid.email }}
        </dd>

        <dt>
          Số điện thoại:
        </dt>

        <dd>
          {{ voiceid.phone }}
        </dd>
        <dt>
          Công ty:
        </dt>

        <dd>
          {{ voiceid.company }}
        </dd>
        <dt>
          Kế hoạch:
        </dt>

        <dd>
          {{ voiceid.plan }}
        </dd>
        <dt>
          Tạo lúc:
        </dt>

        <dd>
          {{ voiceid.timestamp }}
        </dd>
      </dl>

      <h3>Bạn có chắc chắn muốn xoá ?</h3>

      <a href="/remove_voiceid_{{ voiceid._id }}" class="btn btn-danger btn-icon-split" data-toggle="modal" data-target="#deleteModal">
        <span class="icon text-white-50">
          <i class="fas fa-trash"></i>
        </span>
        <span class="text">Xoá</span>
      </a>


      <a href="/manage_voiceids" class="btn btn-secondary btn-icon-split">
        <span class="icon text-white-50">
          <i class="fas fa-arrow-left"></i>
        </span>
        <span class="text">Quay lại</span>
      </a>
    </div>
  </div>

</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc chắn muốn xoá</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Chọn "Đồng ý" bên dưới nếu bạn chắc chắn muốn xoá người dùng.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Huỷ bỏ</button>
          <a class="btn btn-primary" href="/remove_voiceid_{{ voiceid._id }}">Đồng ý</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}